* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  font-weight: lighter;
}

body {
  margin: 0;

}


.topnav {
  background-color: #A30E0E;
  border: 0;
}

.topnav h4 {
  color: white;
  font-weight: lighter;
  text-align: center;
  padding: 14px 16px;
  margin: 0;
}



.wrapper {
  max-width: 100%;
  margin: 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
  grid-auto-rows: minmax(100px, auto);
}

.heading {
  font-weight: lighter;
}

.addParticipantForm {
  grid-column: 1 / 5;
  grid-row: 1;
}

#bigInputBox {
  width: 60%;
  padding: 15px;
  font-size: 18px;
  }

.button {
  background-color: transparent;
  border: none;
  font-size: 22px;
  color: #A30E0E;
}

.button:hover {
  cursor: pointer;
}

li {
  line-height: 50px;
}

.allParticipantsList {
  grid-column: 1;
  grid-row: 2 / 6;
  padding-top: 30px;
}

.participantNames {
  text-transform: capitalize;
}

#matchedParticipants {
  list-style: none;
  background-image: url("https://banner2.kisspng.com/20180329/oew/kisspng-black-rectangle-torn-paper-5abd7c5fe09418.5429166115223675839199.jpg");
  max-width: 50%
  height: 300px;
  background-position: center;
  background-attachment: fixed;
  background-size: contain;
}

.matchedParticipantsList {
  padding-top: 30px;
  grid-column: 3 / 5;
  grid-row: 2 / 6;
}
