* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  font-weight: lighter;
}

body {
  margin: 0;
}

/* color block at the top of the page */
.topnav {
  background-color: #A30E0E;
  border: 0;
}

/* words in the color block at top of page */
.topnav h4 {
  color: white;
  font-weight: lighter;
  text-align: center;
  padding: 14px 16px;
  margin: 0;
}


/* area around the input field and the participant list and matched list */
.wrapper {
  max-width: 100%;
  margin: 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
  grid-auto-rows: minmax(100px, auto);
}

.heading {
  font-weight: lighter;
}

.addParticipantForm {
  grid-column: 1 / 5;
  grid-row: 1;
}

.bigInputBox {
  width: 60%;
  padding: 15px;
  font-size: 18px;
  }

.button {
  background-color: transparent;
  border: none;
  font-size: 22px;
  color: #A30E0E;
}

.button:hover {
  cursor: pointer;
}

li {
  line-height: 50px;
}

.allParticipantsList {
  grid-column: 1;
  grid-row: 2 / 6;
  padding-top: 30px;
}

.participantNames {
  text-transform: capitalize;
}

.participantNamesMatched {
  text-transform: capitalize;
  list-style: none;
}


.matchedParticipantsList {
  padding-top: 30px;
  grid-column: 3 / 5;
  grid-row: 2 / 6;
}
